extends layout

block content

    main.index-menu
      div Список страниц в проекте:
      ol
        li
          a(href="main.html") main.html
        li
          a(href="detail.html") detail.html
        li
          a(href="main-mobile.html") main-mobile.html
