doctype html
html(lang="ru")
  head
    title Smart Home
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i')
    link(rel='stylesheet', href='./css/main.css')
  body
    block content
