      <form action="/">
            <button href="/" class="controls__button ">ГЛАВНАЯ СТРАНИЦА</button>
                </form>
            <button onclick="AllShine()" class="controls__button ">ВЫКЛЮЧИТЬ ВЕСЬ СВЕТ</button>
            <button onclick="AllElectric()" class="controls__button ">ВЫКЛЮЧИТЬ ВСЕ ЭЛЕКТРИЧЕСТВО</button>
            <button onclick="AllWater()" class="controls__button ">ПЕРЕКРЫТЬ ВСЮ ВОДУ</button>
            <button class="controls__button but_search"  value='Search' >ОБНОВИТЬ ДАННЫЕ</button>