<script src="/static/js/DragResize.js"></script>

      {% for rooms in rooms %}
           <div id="draggable" class="room ui-draggable ui-draggable-handle ui-resizable" >
           <div class="room-name"><h2>{{ rooms.name }}</h2></div>
        {% for device_room in device_room %}
                {% if device_room.id_room == rooms.id_room %}
                    {% for dop_addr in dop_addr %}
                        {% if device_room.id_dop_addr == dop_addr.id_dop_addr %}


                            <div>
                            {% for function1 in function1 %}
                                {% if function1.id_dop_addr == dop_addr.id_dop_addr %}
                                    {% for func in func %}
                                        {% if func.idfunc == function1.idfunc %}
                                            {% for type_device in type_device %}
                                                {% if type_device.idtype_device == dop_addr.idtype_device %}
                                                    {% for device in device %}
                                                        {% if device.iddevice == dop_addr.id_dev %}

                                    {% if (function1.data == 0.0) and (func.val_max == 1 ) %}
                                        <div class="room-name"> <h3>{{ dop_addr.name_device }}</h3> </div>
                                              <div class="container pic">
                                         <label><input name="{{ type_device.code }}" class="form-check-input checkbox" type="checkbox" value="{{ function1.data }}" address="{{ device.address }}" func="{{ func.idfunc }}"  style="opacity:0"  it="shest02"   id="{{ function1.idfunction }}" dop="{{ function1.id_dop_addr }}"> <span> <img src="/static{{dop_addr.img }}" devname="{{ dop_addr.name_device }}" width="50" height="50"  ></span></label>
                                              </div>
                                    {% elif function1.data != 0.0 and (func.val_max == 1 )  %}
                                             <div class="room-name"> <h3>{{ dop_addr.name_device }}</h3> </div>
                                              <div class="container pic">
                                     <label><input name="{{ type_device.code }}" class="form-check-input checkbox" type="checkbox" value="{{ function1.data }}" address="{{ device.address }}" func="{{ func.idfunc }}"  checked=checked  style="opacity:0" it="shest02"   id="{{ function1.idfunction }}" dop="{{ function1.id_dop_addr }}"> <span> <img src="/static{{dop_addr.img }}" devname="{{ dop_addr.name_device }}" width="50" height="50"  ></span></label>
                                              </div>
                                    {% endif %}

                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                           {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                            </div>

                             <div>
                               <div class="pic">
                        {% for function1 in function1 %}
                             {% if function1.id_dop_addr == dop_addr.id_dop_addr %}
                                    {% for func in func %}
                                        {% if func.idfunc == function1.idfunc %}

                            {% if func.idfunc == 13 %}


                                                     <div class=" div1" >{{ function1.data }} °C </div>

                                                {% endif %}


                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                               </div>
                            </div>


                        {% endif %}
                    {% endfor %}
                {% endif %}
        {% endfor %}





          <br> <div class="btn-cont container mt-auto">
          <button class="btn btn-warning center roominfo " value = "{{ rooms.id_room}}" onclick="dosomething(this)">Подробнее</button>
           </div>
            </div>

    {% endfor %}

