<script src="/static/js/jquery.ui.touch-punch.js"></script>

<div class="container">

       {% for rooms in rooms %}
               {% if rooms.id_room == y %}

            <div><h1>{{ rooms.name }}</h1></div>


                     {% for device_room in device_room %}
                {% if device_room.id_room == rooms.id_room %}
                    {% for dop_addr in dop_addr %}
                        {% if device_room.id_dop_addr == dop_addr.id_dop_addr %}

                                      <div>
                            {% for function1 in function1 %}
                                {% if function1.id_dop_addr == dop_addr.id_dop_addr %}
                                    {% for func in func %}
                                        {% if func.idfunc == function1.idfunc %}
                                            {% if func.write_enable == x  %}

                                                  <script> $(document).ready(function() {
    $(".slider").each(function() {
        // $this is a reference to .slider in current iteration of each
        $this = $(this);
          var value = $($this).attr('value')
          var min  = $($this).attr('slider-min')
          var max  = $($this).attr('slider-max')
          var id = $(this).attr('id')
          var dop_addr = $(this).attr('dop')
          var idfunc = $(this).attr('idfunc')
        // find any .slider-range element WITHIN scope of $this
        $(".slider-range", $this).slider({
            value: value/1,
            min: min/1,
            max: max/1,


            slide: function( event, ui ) {
               // find any element with class .amount WITHIN scope of $this
                    $(this).siblings().text(ui.value);

            },

            stop: function(event, ui) {
            var data =  $(this).slider('value')

            $                (this).siblings().text(ui.value);

          alert('Температура устройства '+ id + '  установлена на '+ data + ' градусов' );

               $.ajax({
     url: '/ajaxcheckbox',
         type: 'post',
                   data: {id:id, data:data, dop_addr:dop_addr},
           success: function(response){

                 },
                })

            }

        });
    });
});</script>



                                            <div><h3>{{ func.name }}</h3></div>
                                                   <div class="slider" idfunc = "{{ function1.idfunc }}" slider-min = "{{ func.val_min }}" slider-max="{{ func.val_max }}" value="{{ function1.data/1  }}" id="{{ function1.idfunction }}" dop ="{{ dop_addr.id_dop_addr }}">
                                                                      <b>{{function1.data/1}} <span style="color:green" id="result-polzunok"></span></b>
                                                                       <div class="slider-range"></div>
                                                                    </div>

                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                               </div>

                       {% endif %}
                    {% endfor %}
                {% endif %}
        {% endfor %}
            {% endif %}

        {% endfor %}

   </div>
