<script src="/static/js/jquery.ui.touch-punch.js"></script>

<div class="container">

       {% for rooms in rooms %}
               {% if rooms.idroom == y %}

            <div><h1>{{ rooms.name }}</h1></div>


                     {% for device_room in device_room %}
                {% if device_room.id_room == rooms.idroom %}
                    {% for dop_addr in dop_addr %}
                        {% if device_room.id_dop_addr == dop_addr.id_dop_addr %}

                                      <div>
                            {% for function1 in function1 %}
                                {% if function1.id_dop_addr == dop_addr.id_dop_addr %}
                                    {% for func in func %}
                                        {% if func.idfunc == function1.idfunc %}
                                            {% if func.write_enable == x  %}
                                                {% for device in device %}
                                                        {% if device.iddevice == dop_addr.id_dev %}

                                                  <script src="/static/js/Sliders.js"></script>



                                            <div><h3>{{ func.name }}</h3></div>
                                                   <div class="slider" idfunc = "{{ function1.idfunc }}" slider-min = "{{ func.val_min }}" slider-max="{{ func.val_max }}" value="{{ function1.data/1  }}"  address="{{ device.address }}" func="{{ func.idfunc }}" id="{{ function1.idfunction }}" dop ="{{ function1.id_dop_addr }}">
                                                                      <b>{{function1.data/1}} <span style="color:green" id="result-polzunok"></span></b>
                                                                       <div class="slider-range"></div>
                                                                    </div>

                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                               </div>

                       {% endif %}
                    {% endfor %}
                {% endif %}
        {% endfor %}
            {% endif %}

        {% endfor %}

   </div>
